lora_sw_uplink_nodered.json
[
    {
        "id": "23fa267a.865122",
        "type": "tab",
        "label": "this",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a39fe33d.891ef8",
        "type": "debug",
        "z": "23fa267a.865122",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "36e4f387.cad764",
        "type": "function",
        "z": "23fa267a.865122",
        "name": "msgInterpreter",
        "func": "var readInt = function(array){\n    var value = 0;\n    for (var i = array.length-1; i >=0; i--){\n            value = (value*256) + array[i];\n    }\n    return value;\n}\nvar bytes = msg.payload_raw;\ntypeof bytes;\nmsg.abs_vol = readInt(bytes.slice(3,7));\nmsg.monthly_vol_start = readInt(bytes.slice(15,19));\nmsg.monthly_vol = msg.abs_vol - msg.monthly_vol_start;\nmsg.rev_vol = readInt(bytes.slice(22,26));\nmsg.flags = bytes.slice(10,13);\nmsg.payload = msg.abs_vol;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 120,
        "y": 380,
        "wires": [
            [
                "f9be48a0.9d39c8",
                "bc63ba71.3cf85",
                "8e7c6491.d4286",
                "7306adcc.2eeaa4",
                "b92d2cf5.d4ab78",
                "72dc0ded.aacfcc",
                "a39fe33d.891ef8"
            ]
        ],
        "info": "Dissecting a message into proper information."
    },
    {
        "id": "b92d2cf5.d4ab78",
        "type": "ui_chart",
        "z": "23fa267a.865122",
        "name": "",
        "group": "af32d93e.8490b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "volume:",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "no data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "4",
        "removeOlderPoints": "10",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 480,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f9be48a0.9d39c8",
        "type": "ui_text",
        "z": "23fa267a.865122",
        "group": "46f68867.9f048",
        "order": 1,
        "width": 6,
        "height": 3,
        "name": "",
        "label": "absolute volume:",
        "format": "{{msg.abs_vol | uppercase}} L",
        "layout": "row-center",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "bc63ba71.3cf85",
        "type": "ui_text",
        "z": "23fa267a.865122",
        "group": "46f68867.9f048",
        "order": 3,
        "width": 6,
        "height": 3,
        "name": "",
        "label": "reverse volume:",
        "format": "{{msg.rev_vol | uppercase}} L",
        "layout": "row-center",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "7306adcc.2eeaa4",
        "type": "ui_text",
        "z": "23fa267a.865122",
        "group": "af32d93e.8490b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "current flags:",
        "format": "{{msg.payload_curr}}",
        "layout": "col-center",
        "x": 490,
        "y": 420,
        "wires": []
    },
    {
        "id": "8e7c6491.d4286",
        "type": "ui_text",
        "z": "23fa267a.865122",
        "group": "46f68867.9f048",
        "order": 2,
        "width": 6,
        "height": 3,
        "name": "",
        "label": "monthly volume:",
        "format": "{{msg.monthly_vol | uppercase}} L",
        "layout": "row-center",
        "x": 510,
        "y": 300,
        "wires": []
    },
    {
        "id": "72dc0ded.aacfcc",
        "type": "function",
        "z": "23fa267a.865122",
        "name": "flagInterpreter",
        "func": "var curr_flags = msg.flags[0];\nvar curr_month_flags = msg.flags[1];\nvar prev_month_flags = msg.flags[2];\nmsg.payload = \"\";\nvar tamper = \"Tamper \\n\";\nvar low_batt = \"Low battery \\n\";\nvar dry_meter = \"Dry meter \\n\";\nvar no_flow = \"Absence of flow \\n\";\nvar extreme_temp = \"Extreme temperature \\n\"\nvar burst_pipe = \"Burst pipe \\n\";\nvar rev_flow = \"Reverse flow \\n\";\nvar leak = \"Leak detected \\n\";\n\n\n\n\n\n\n\n\n\nif(curr_flags !== 0){\n    msg.payload = \"\";\n    if(curr_flags & 0x01){\n        msg.payload += tamper;\n    }\n    if(curr_flags & 0x02){\n        msg.payload += low_batt;\n    }\n    if(curr_flags & 0x04){\n        msg.payload += dry_meter;\n    }\n    if(curr_flags & 0x08){\n        msg.payload += no_flow;\n    }\n    if(curr_flags & 0x10){\n        msg.payload += extreme_temp;\n    }\n    if(curr_flags & 0x20){\n        msg.payload += burst_pipe;\n    }\n    if(curr_flags & 0x40){\n        msg.payload += rev_flow;\n    }\n    if(curr_flags & 0x80){\n        msg.payload += leak;\n    }\n    msg.payload_curr = msg.payload;\n}\n\nif(curr_month_flags !== 0){\n    msg.payload = \"\";\n    if(curr_month_flags & 0x01){\n        msg.payload += tamper;\n    }\n    if(curr_month_flags & 0x02){\n        msg.payload += low_batt;\n    }\n    if(curr_month_flags & 0x04){\n        msg.payload += dry_meter;\n    }\n    if(curr_month_flags & 0x08){\n        msg.payload += no_flow;\n    }\n    if(curr_month_flags & 0x10){\n        msg.payload += extreme_temp;\n    }\n    if(curr_month_flags & 0x20){\n        msg.payload += burst_pipe;\n    }\n    if(curr_month_flags & 0x40){\n        msg.payload += rev_flow;\n    }\n    if(curr_month_flags & 0x80){\n        msg.payload += leak;\n    }\n    msg.payload_curr_month = msg.payload;\n}\n\nif(prev_month_flags !== 0){\n    msg.payload = \"\";\n    if(prev_month_flags & 0x01){\n        msg.payload += tamper;\n    }\n    if(prev_month_flags & 0x02){\n        msg.payload += low_batt;\n    }\n    if(prev_month_flags & 0x04){\n        msg.payload += dry_meter;\n    }\n    if(prev_month_flags & 0x08){\n        msg.payload += no_flow;\n    }\n    if(prev_month_flags & 0x10){\n        msg.payload += extreme_temp;\n    }\n    if(prev_month_flags & 0x20){\n        msg.payload += burst_pipe;\n    }\n    if(prev_month_flags & 0x40){\n        msg.payload += rev_flow;\n    }\n    if(prev_month_flags & 0x80){\n        msg.payload += leak;\n    }\n    msg.payload_prev_month = msg.payload;\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 120,
        "y": 460,
        "wires": [
            [
                "7306adcc.2eeaa4",
                "96568ad2.16d618",
                "2bd2b24a.69603e",
                "dd37565c.22d9b"
            ]
        ]
    },
    {
        "id": "96568ad2.16d618",
        "type": "debug",
        "z": "23fa267a.865122",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 450,
        "y": 640,
        "wires": []
    },
    {
        "id": "ee512f2f.63c6f8",
        "type": "ttn uplink",
        "z": "23fa267a.865122",
        "name": "aether-gateway02",
        "app": "636ce64a.9d137",
        "dev_id": "",
        "field": "",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "36e4f387.cad764",
                "a39fe33d.891ef8"
            ]
        ]
    },
    {
        "id": "62809bda.8e9474",
        "type": "ttn uplink",
        "z": "23fa267a.865122",
        "name": "666666",
        "app": "ef7f9187.81139",
        "dev_id": "",
        "field": "",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "a39fe33d.891ef8",
                "36e4f387.cad764"
            ]
        ]
    },
    {
        "id": "2bd2b24a.69603e",
        "type": "ui_text",
        "z": "23fa267a.865122",
        "group": "af32d93e.8490b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "monthly flags:",
        "format": "{{msg.payload_curr_month}}",
        "layout": "col-center",
        "x": 500,
        "y": 460,
        "wires": []
    },
    {
        "id": "dd37565c.22d9b",
        "type": "ui_text",
        "z": "23fa267a.865122",
        "group": "af32d93e.8490b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "previous flags:",
        "format": "{{msg.payload_prev_month}}",
        "layout": "col-center",
        "x": 500,
        "y": 500,
        "wires": []
    },
    {
        "id": "af32d93e.8490b8",
        "type": "ui_group",
        "z": "",
        "name": "main_dashboard",
        "tab": "3d6279f2.510ebe",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "46f68867.9f048",
        "type": "ui_group",
        "z": "",
        "name": "volume_text",
        "tab": "3d6279f2.510ebe",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "636ce64a.9d137",
        "type": "ttn app",
        "z": "",
        "appId": "aether-gateway02",
        "accessKey": "ttn-account-v2.Rotj_AzyNCtBviAB_3X5N_OBOPo9F-9WToQjhUrtpk4",
        "discovery": "discovery.thethingsnetwork.org:1900"
    },
    {
        "id": "ef7f9187.81139",
        "type": "ttn app",
        "z": "",
        "appId": "666666",
        "accessKey": "ttn-account-v2.-17E50GimdThvFzSXFG1m5uSSy-8h2y7AZK76qCHBwE",
        "discovery": "discovery.thethingsnetwork.org:1900"
    },
    {
        "id": "3d6279f2.510ebe",
        "type": "ui_tab",
        "z": "",
        "name": "LoRaWAN",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]